.header__logo {
  display: block;
  width: 176px;
  height: 52px;
  margin-left: 48px;
  margin-top: 28px;
}

@media screen and (max-width: 1023px) and (min-width: 600px) {
  .header__logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-left: 24px;
  }
}
