.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.place__link:hover {
  opacity: .8;
}

@media (max-width: 425px) {
  .place__link {
    margin: 0 16px 0 16px;
  }
}
