.lead__capture {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  width: 100%;
  margin-top: 8px;
  color: FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__capture {
    width: 50%;
    margin-left: 24px;
  }
}
