.place__url-heading {
  margin: 0 0 12px 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #aaaaaa;
  letter-spacing: .2em;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__url-heading {
    margin: 0 0 14px 0;
  }
}

@media (max-width: 425px) {
  .place__url-heading  {
    margin: 0 16px 12px 16px;
  }
}
